body{
	font-family: arial,helvetica;
	color: #F2F2F2;
}
h1{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 3em;
}
p{
	padding-left: 15px;
	padding-right: 15px;
  text-indent: 2em;
	font-size: 2em;
}
.navbar{
	margin-bottom: 0;
	border-radius: 0;
	    position: fixed;
    width: 100%;
    z-index: 99;
}
